.navbar {
  border-bottom: #b9211c solid 5px;
}

#services .card:hover {
  background: #6ec8e0;
  color: #ffff;
}
body {
  background: linear-gradient(to right bottom, #e1f4ef, #aad0cd, #76dcd5);
}
